<style>
  .product-container {
    text-align: center;
    margin-top: 20px;
  }

  .product-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .product-container p {
    font-size: 16px;
    margin-bottom: 5px;
  }
</style>

<div class="product-container">
  <h1>Product</h1>
  {{#each product}}
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <img src="{{thumbnails}}" alt="{{name}}">
  {{/each}}
</div>

